force-app/main/default/flows/email_duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>number_of_duplicates</name>
        <label>number of duplicates</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>duplicate_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_all_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_duplicate</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>email_error</name>
        <label>email error</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Email or Phone found in {!duplicate_count} contacts.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_duplicate</name>
        <label>check duplicate</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contactnotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_error</targetReference>
            </connector>
            <label>contactnotnull</label>
        </rules>
    </decisions>
    <description>check for email duplicate and stop from creating a record</description>
    <environments>Default</environments>
    <interviewLabel>email duplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>email duplicate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_records</name>
        <label>get all records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>number_of_duplicates</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>duplicate_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
