force-app/main/default/flows/number_of_locations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>loop_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>loop_condition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_number</name>
        <label>check number</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberofLocations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_condition</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>loop_condition</name>
        <label>loop condition</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>current_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>number_of_locations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Contacts</targetReference>
            </connector>
            <label>current count</label>
        </rules>
    </decisions>
    <description>create the number of contacts which are equal to the number which we will enter in the number of locations field on account object</description>
    <environments>Default</environments>
    <formulas>
        <name>contact_last_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;TEXT({!loop_count})</expression>
    </formulas>
    <formulas>
        <name>number_of_locations</name>
        <dataType>Number</dataType>
        <expression>{!$Record.NumberofLocations__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>number of locations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>number of locations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Contacts</name>
        <label>create Contacts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contact_last_name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_number</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>loop_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
