force-app/main/default/flows/on_lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>NoOfLeadsWithProduct</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Leads_With_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Leads_With_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Leads_With_Product.Product_interest_count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfLeadsWithProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Leads_With_Product</targetReference>
        </connector>
    </assignments>
    <description>add the lead count with source as web and product interest as GC1000</description>
    <environments>Default</environments>
    <interviewLabel>on lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>on lead</label>
    <loops>
        <name>Iterate_Over_Leads_With_Product</name>
        <label>Iterate Over Leads With Product</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Leads_With_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Leads_With_Product</name>
        <label>Get Leads With Product</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductInterest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductInterest__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Leads_With_Product</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads_With_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductInterest__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NoOfLeadsWithProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
