force-app/main/default/flows/screenFlowupdateRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>1. To display the details of the selected record Id, Name and other fields using variables from sobject flow__C</description>
    <environments>Default</environments>
    <interviewLabel>screenFlowupdateRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screenFlowupdateRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>426</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Record_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Record_Name</elementReference>
            </value>
        </inputAssignments>
        <object>flow__c</object>
    </recordUpdates>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>804</locationX>
        <locationY>259</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Updated</name>
            <fieldText>&lt;p&gt;Your Records have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>590</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
        <fields>
            <name>Record_Details</name>
            <fieldText>&lt;p&gt;Details of the Record selected from sobject flow__c&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Id ::::: {!recId}&lt;/p&gt;&lt;p&gt;Name ::::: {!recName}&lt;/p&gt;&lt;p&gt;Email ::::: {!recEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Record_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recName</elementReference>
            </defaultValue>
            <fieldText>Record Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Record_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recEmail</elementReference>
            </defaultValue>
            <fieldText>Record Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>84</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>s1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>to store the record Email of flow__c</description>
        <name>recEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>to store the record Id of flow__c</description>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>to store the record Name of flow__c</description>
        <name>recName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
