force-app/main/default/flows/updateRecordusingscreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>change the button link to get multiple values from the record and getting id and name with 2 variable resources created</description>
    <environments>Default</environments>
    <interviewLabel>updateRecordusingscreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateRecordusingscreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateName</name>
        <label>updateName</label>
        <locationX>465</locationX>
        <locationY>294</locationY>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>new_name</elementReference>
            </value>
        </inputAssignments>
        <object>flow__c</object>
    </recordUpdates>
    <screens>
        <name>update_records</name>
        <label>update records</label>
        <locationX>665</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateName</targetReference>
        </connector>
        <fields>
            <name>dt</name>
            <fieldText>&lt;p&gt;you have selected the record with&lt;/p&gt;&lt;p&gt;Id :::: &lt;strong style=&quot;color: rgb(34, 0, 255);&quot;&gt;{!recId}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Name ::::&lt;/span&gt;&lt;strong style=&quot;color: rgb(34, 0, 255);&quot;&gt;  {!recName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>new_name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recName</elementReference>
            </defaultValue>
            <fieldText>new name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X1</name>
        <label>1</label>
        <locationX>921</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endtext</name>
            <fieldText>&lt;p&gt;Your record name has been updated to {!new_name} &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>121</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>update_records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>objVal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>flow__c</objectType>
    </variables>
    <variables>
        <name>recId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
